Source: swath
Section: text
Priority: optional
Maintainer: Theppitak Karoonboonyanan <thep@linux.thai.net>
Build-Depends: debhelper (>= 5.0.0), dpkg-dev (>= 1.14.13), autotools-dev
Vcs-Cvs: :pserver:anonymous@linux.thai.net:/home/cvs software/swath
Vcs-Browser: http://linux.thai.net/viewvc/viewvc.cgi/software/swath/
Homepage: http://linux.thai.net/projects/thailatex
Standards-Version: 3.7.3

Package: swath
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Thai word segmentation program
 Swath is a general-purpose utility for analyzing word boundaries in Thai
 text and inserting predefined word delimiter codes. It can be used as a
 filter for Thai LaTeX files so the lines are wrapped properly when processed
 with thailatex macros. Other formats that swath can also handle include HTML,
 RTF and plain text.
